@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans&display=swap');


/* phone or baseline views **************************/
.container {
    max-width: 1000px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
	text-align: center;
    margin: 10px auto;
    border: 1px solid black;
    background-color: #0077b6;
}
.container h1 {
    color: white;
}
.container h2{
    color: #5C0029;
}
