@media only screen and (min-width: 60em) {
  
  footer {
		display: grid;
		grid-template-columns: 3fr 1fr 3fr;
	}
	footer .contact-info {
		grid-column: 1;
		align-items: center;
	}
	.designer-info {
		grid-column: 3;
		align-items: center;
	}
	nav a {
		font-size: 1.5rem;
	}
	nav button {
		display: none;
	}
	nav ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	nav ul li a {
		padding: 0.5rem 1rem;
	}
	.social-media {
		grid-column: 2;
		grid-row: 1;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.hero-container picture img {
		width: 100%;
	}

	.hero-container-center {
		position: absolute;
		top: 20%;
		text-align: center;
		margin-left: 5%;
		width: 90%;
	}

	.hero-container-center p {
		font-size: 2rem;
	}
	  
	.hero-container-center h1 {
	font-size: 3rem;
	}
	  
}