@media only screen and (min-width: 50em) {

    .hero-container-center p {
        font-size: 1.5rem;
    }
    .hero-container-center h1 {
        font-size: 2rem;
    }
	p {
		font-size: 1.5rem;
		padding: 10px;
	}
	h1, #drinks-purchased, #drink-emphasis{
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem
	}	
	#weather-3day {
		flex-direction: row;
		margin: 5px auto;
		width: 100%;
	}

	.forecast-day {
		margin: 0 auto;
	}

	.form-popup {
		top: 3rem;
		left: 8%;
	}
	.form-container {
		max-width: 50rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.form-container .btn {
		margin-left: 50%;
	}

	.form-container #order-confirmation {
		grid-column: 1/2;
	}
	.form-container #nutrition-facts {
		grid-column: 2/3;
	}
}