* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
:root {
  --primary-color: #fff;
  --secondary-color: #6e8a52;
  --accent1-color: #81231f;
  --accent2-color: #36454f;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}

.active a {
  color: #000;
  font-weight: 800;
  font-style: italic;
}
body {
  font-size: 16px;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

.box-shadow {
  box-shadow: 10px 10px 10px 5px grey;
}

.designer-info h2 {
  text-align: right;
}
footer {
  display: block;
  padding: 0.5rem;
}
footer p {
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
}
#hamburger-button span:nth-child(1) {
  display: block;
}
#hamburger-button span:nth-child(2) {
  display: none;
}
h1 {
  font-size: 1rem;
  font-family: Raleway, Helvetica, sans-serif;
}
h2 {
  font-size: 0.75rem;
}
header,
footer {
  background-color: var(--primary-color);
  align-items: center;
  /* padding: .75rem; */
  border: 1px solid rgba(0, 0, 0, 0.2);
}
header,
main,
footer {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  color: #fff;
  margin: 0 auto;
  max-width: 1600px;
}
nav button {
  margin: 0.2rem 2vw;
  background: 0 0;
  border: none;
  font-size: 2rem;
  color: #555;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  display: none;
}
nav ul.open {
  display: grid;
}
nav a {
  display: block;
  color: #000;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.5s;
}
nav a:hover {
  font-weight: 800;
}
section {
  /* padding: .5rem; */
}
.social-media a {
  margin: 0 auto;
}
.social-media-icon {
  width: 40px;
  border-radius: 50%;
  border: 1px solid #000;
}
.text-white {
  color: white;
}

.text-shadow {
  text-shadow: 5px 5px 10px black;
}

.hero-container {
  position: relative;
}

.hero-container picture img {
  width: 100%;
}
.hero-container-center {
  position: absolute;
  top: 10%;
  text-align: center;
}
.hero-container-center h1 {
  font-size: 1.75rem;
}
.hero-container-center p {
  font-size: 1.25rem;
}
.right-side {
  display: grid;
}
.right-side h1 {
  text-align: center;
}
.right-side picture {
  margin: 5px auto;
}

.left-side {
  display: grid;
}
.left-side h1 {
  text-align: center;
}
.left-side picture {
  margin: 5px auto;
}

#weather-container {
  display: grid;
}
#weather-current {
  text-align: center;
}
#weather-3day {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: left;
  margin-top: 5px;
}
.standard-border {
  border: 2px solid #000;
}

.standard-padding {
  padding: 0.5rem;
}

.order-drink, .purchased-drinks {
  text-align: center;
  font-family: Raleway, Helvetica, sans-serif;
}

.forecast-day {
  display: flex;
  align-items: center;
  justify-content: center;
}

#drinks-purchased, #drink-emphasis {
  font-size: 1.5rem;
}

.title {
  display: flex;
  flex-flow: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.title h1 {
  font-size: 3rem;
}

.title .logo {
  padding: 0.3em;
  width: 150px;
}