* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
:root {
  --primary-color: #fff;
  --secondary-color: #6e8a52;
  --accent1-color: #81231f;
  --accent2-color: #36454f;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}

.active a {
  color: #000;
  font-weight: 800;
  font-style: italic;
}
body {
  font-size: 16px;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

.box-shadow {
  box-shadow: 10px 10px 10px 5px grey;
}
.center-text {
  text-align: center;
}
.designer-info h2 {
  text-align: right;
}
footer {
  display: block;
  padding: 0.5rem;
}
footer p {
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
}
#hamburger-button span:nth-child(1) {
  display: block;
}
#hamburger-button span:nth-child(2) {
  display: none;
}
h1 {
  font-size: 1rem;
  font-family: Raleway, Helvetica, sans-serif;
}
h2 {
  font-size: 0.75rem;
}
header,
footer {
  background-color: var(--primary-color);
  align-items: center;
  /* padding: .75rem; */
  border: 1px solid rgba(0, 0, 0, 0.2);
}
header,
main,
footer {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  color: #fff;
  margin: 0 auto;
  max-width: 1600px;
}
nav button {
  margin: 0.2rem 2vw;
  background: 0 0;
  border: none;
  font-size: 2rem;
  color: #555;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  display: none;
}
nav ul.open {
  display: grid;
}
nav a {
  display: block;
  color: #000;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.5s;
}
nav a:hover {
  font-weight: 800;
}

.social-media a {
  margin: 0 auto;
}
.social-media-icon {
  width: 40px;
  border-radius: 50%;
  border: 1px solid #000;
}
.text-white {
  color: white;
}

.text-shadow {
  text-shadow: 5px 5px 10px black;
}

.hero-container {
  position: relative;
}

.hero-container picture img {
  width: 100%;
}
.hero-container-center {
  position: absolute;
  top: .5rem;
  text-align: center;
}
.hero-container-center h1 {
  font-size: 1.75rem;
}
.hero-container-center p {
  font-size: 1.4rem;
}
.right-side {
  display: grid;
}
.right-side h1 {
  text-align: center;
}
.right-side picture {
  margin: 5px auto;
}

.left-side {
  display: grid;
}
.left-side h1 {
  text-align: center;
}
.left-side picture {
  margin: 5px auto;
}

#weather-container {
  display: grid;
}
#weather-current {
  text-align: center;
}
#weather-3day {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: left;
  margin-top: 5px;
}
.standard-border {
  border: 2px solid #000;
  padding: 10px;
}

.standard-padding {
  margin: 25px auto;
}

.order-drink, .purchased-drinks {
  text-align: center;
  font-family: Raleway, Helvetica, sans-serif;
}

.forecast-day {
  display: flex;
  align-items: center;
  justify-content: center;
}

#drinks-purchased, #drink-emphasis {
  font-size: 1.5rem;
}

.title {
  display: flex;
  flex-flow: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.title h1 {
  font-size: 3rem;
}

.title .logo {
  padding: 0.3em;
  width: 150px;
}

/* ----------- FORM STYLING ------------*/
.form fieldset {
  margin: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: .5rem 2%;
}
.form legend {
  font-size: 1.5rem;
  color: blue;
  margin: 0 1rem;
  padding: 0 .5rem;
}
.form label.top, .form div {
  display: block;
  padding-top: 1rem;
  font-size: 1.5rem;
}
.form label.top input, .form label.top textarea, .form label.top select {
  display: block;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  background-color: ghostwhite;
}
.form .member-level {
  padding-bottom:  .75rem;
}
.form .member-level label {
  font-size: 1.5rem;
}
.form .member-level p {
  padding: .2rem;
  margin-left: 1rem;
}
.form button.submit-button {
  border: none;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin: 0 0 2rem 8%;
  width: 96%;
  max-width: 20rem;
  font-size: 1.4rem;
}
.form label.top input:required, #fruit1:required {
  border-left: 6px solid red;
}
.form label.top input:valid, #fruit1:required {
  border-left: 6px solid green;
}

/* --------- MODAL DIALOG ---------- */
.form-popup {
  display: none;
  position: relative;
  top: 18rem;
  left: 5%;
  z-index: 1;
}

.form-container {
  position: absolute;
  max-width: 20rem;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
}

/* Add a red background color to the cancel button */
.form-container .close {
  background-color:  var(--secondary-color);
  border-radius: 10px;
  font-size: 1.4rem;
}

.form-container fieldset p {
  font-size: 1rem;
}
