* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #fff   ;
	--secondary-color: #6E8A52 ;
	--accent1-color: #81231F;
	--accent2-color: #36454F;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

.active a {
	color: #000;
  font-weight: 800;
  font-style: italic;
}
body {
	font-size: 16px;
	font-family: "Open Sans", Helvetica, sans-serif;
}

.box-shadow {
  box-shadow: 10px 10px 10px 2px grey;
}

.designer-info h2 {
  text-align: right;
}
footer {
  display: block;
}
footer p {
	padding: .5rem;
	flex-direction: column;
	align-items: center;
}
#hamburger-button span:nth-child(1) {
  display: block;
}
#hamburger-button span:nth-child(2) {
  display: none;
}
h1 {
  font-size: 1rem;
}
h2 {
  font-size: .75rem
}
header,
footer {
	background-color: var(--primary-color);
	align-items: center;
	/* padding: .75rem; */
	border: 1px solid rgba(0, 0, 0, 0.2);
}
header,
main,
footer {
	max-width: 1600px;
	margin: 0 auto;
} 

nav {
  color: #fff;
  margin: 0 auto;
  max-width: 1600px;
}
nav button {
  margin: 0.2rem 2vw;
  background: 0 0;
  border: none;
  font-size: 2rem;
  color: #555;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  display: none;
}
nav ul.open {
  display: grid;
}
nav a {
  display: block;
  color: #000;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.5s;
}
nav a:hover {
  font-weight: 800;
}
section {
  padding: .5rem;
}
.social-media a {
  margin: 0 auto;
}
.social-media-icon {
  width: 40px;
  border-radius: 50%;
  border: 1px solid #000;
}
.text-white {
  color: white;
}

.text-shadow {
  text-shadow: 5px 5px 10px black;
}

.hero-container {
  position: relative;
}

.hero-container picture img {
  width: 100%;
}

.hero-container-center {
    position: absolute;
    top: 10%;
    text-align: center;
}
.hero-container-center p {
  font-size: .75rem;
  padding: 2px;
}

.oceanside {
  display: grid;

}
.oceanside h1 {
  text-align: center;
}

.oceanside picture {
  margin: 5px auto;
}