* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main picture {
  padding: 5px;
}

picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}